*{
    margin: 0px;
    padding: 0px;
}
@media screen and (min-width:1000px) {
    body{
        background-color: blue;
    }
    
}
@media screen and (max-width:1000px) {
    body{
        background-color: rgb(187, 22, 113);
    }
    
}
@media screen and (max-width:800px) {
    body{
        background-color: rgb(31, 218, 53);
    }
    
}
@media screen and (max-width:700px) {
    body{
        background-color:olive;
    }
    
}
@media screen and (max-width:500px) {
    body{
        background-color: blue;
    }
    
}
@media screen and (max-width:490px) {
   body{
    background-color: aliceblue;
   }
   .head-section{
    background-color:rgb(105, 105, 105);
    height: 40px;
    width: 98%;
    border-radius: 0px 0px 25px 25px;
    padding: 5px;
    text-align: center;
    position: fixed;
   }
   /* ====================================== */
   #back-side{
    /* background-color: red; */
    padding-top:80px;
    width: 100%;
    height:auto;
   }

   #top-block{
    display: flex;
    flex-direction: row;
    background-color:aliceblue;
    height: 100px;
    gap: 10px;
    padding: 10px;
   }
   #img-block{
    background-color: aliceblue;
    padding-top: 15px;
    width: 35%;
   }
   
   #image_1{
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
   }

   #content-block{
    background-color: rgb(234, 234, 235) ;
    width: 60%;
    padding-top: 10px;
    border-radius: 10px;
    padding-left: 3px;
   }

   #button-block{
    background-color:white;
    height: 35px;
    padding-top: 5px;
    padding-left: 30px;
   }
   /* ========================================== */
   button{
    border: none;
    /* background-color: red; */
    padding: 6px;
    border-radius:5px ;
    width: 110px;
    margin-right:20px ;
   }
   #but_1{
    background-color:rgb(192, 191, 191);
    color:rgb(11, 10, 10) ;

   }
   #but_2{
    background-color: rgb(55, 55, 55);
    color: aliceblue;
   }
   /* ============================================ */

   #sub-divs{
    background-color:white;
    height: auto;
   }
   #sub-container{
    background-color:rgb(193, 192, 192);
    height: 20px;
    padding: 10px;
    overflow: hidden; 
   }
   #subs{
    display: flex;
    flex-direction: row;
    padding: 2px;
    gap: 10px;
    justify-content: space-between; 
    align-items: center; 
   }
   #snum{
    /* background-color: blue; */
    float: left;
    margin-right: 6px;
   }
   #sname{
    /* background-color: blue; */
    flex-grow: 1; 
    /* text-align: ;  */

   }
   #sinfo{
    /* background-color: ; */
   float: right;

   }
   /* ============================================= */
   #bottom-block{
    background-color:gray;
    position: fixed;
    bottom: 0px;
    width: 95%;
    height: 30px;
    padding:10px;
    border-radius: 20px 20px 0px 0px;

   }
   #list-but{
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    gap: 30px;
   }
   li{
    list-style: none;

   }
   .m{
    text-decoration: none;
    /* border: 1px solid black; */
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.609);
    color: white;
    font-size:15px;
   }
}
